# .env.example
BROKER_HOST=localhost
DATA_DIR=./data
OUTPUT_DIR=./received_data/events

SERIAL_PORT=/dev/ttyACM0
BAUDRATE=9600
WINDOW_SIZE=2

# Sensor Pi
SERIAL_PORT=/dev/ttyUSB0
OUTPUT_DIR=./data
BROKER_HOST=192.168.x.x

# Broker (WSL/PC)
BROKER_OUTPUT_DIR=./received_data/events
